spring:

  datasource:
    url: jdbc:mysql://localhost:3312/eventify
    username: my_user
    password: my_user_password
    driver: com.mysql.cj.jdbc.Driver

  liquibase:
    change-log: classpath:db/changeLog/db.changelog-master.yaml
    enabled: true

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  logging:
    level:
      liquibase: info
